.color-nav {
    background-color:white;
    transition: top 0.5s;
}

.navbar-light .navbar-toggler {
    border:none ;
    border-color: transparent;
}

.navbar-light .navbar-toggler:hover:focus{
    outline: none;
    border: none;
    border-color: transparent;
}